<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nJobee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nJobee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <nJobee.Properties.Settings>
            <setting name="BackColorA" serializeAs="String">
                <value>253, 217, 120</value>
            </setting>
            <setting name="BackColorB" serializeAs="String">
                <value>254, 237, 190</value>
            </setting>
            <setting name="BackColorC" serializeAs="String">
                <value>253, 197, 100</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Montserrat, 14.25pt</value>
            </setting>
        </nJobee.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <nJobee.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>Nha Le</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>19520195@gm.uit.edu.vn</value>
            </setting>
            <setting name="Phone" serializeAs="String">
                <value>+840019520195</value>
            </setting>
        </nJobee.Properties.Settings>
    </userSettings>
</configuration>